<div class="card shadow-sm mb-4">
  <div class="card-body">
    <h2 class="card-title mb-4">New User</h2>
    <%= render 'form', user: @user %>
    <%= link_to 'Back', users_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>